* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #fa8275;
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

nav a:hover {
  background-color: #1abc9c;
  color: white;
}
